<header class="main-header">
    <nav class="nav-menu main-header__nav">
        <ul class="nav-menu__list">
            <li class="nav-menu__item">
                <a class="active" href="">Кейсы</a>
            </li>
            <li class="nav-menu__item">
                <a href="">Наши клиенты</a>
            </li>
            <li class="nav-menu__item">
                <a href="">Отзывы</a>
            </li>
            <li class="nav-menu__item">
                <a href="">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="achievements main-header__achievements">
        <a class="achievements__text" href="">
            наши <br> достижения
        </a>
        <img src="assets/images/achievements.svg" width="43" height="60" alt="icon" class="achievements__icon">
    </div>
</header>