<main>
    <div class="preview">
        <div id="scene" class="scene">
            <div class="scene__layer" data-depth="0.05">
                <div class="background"></div>
            </div>
            <div class="scene__layer" data-depth="0.07">
                <div class="background"></div>
            </div>
            <div class="scene__layer" data-depth="0.10">
                <div class="background"></div>
            </div>
            <div class="scene__layer" data-depth="0.17">
                <div class="background">
                    <img src="assets/images/logo.svg" width="580" height="250" fetchpriority="high" alt="logo" class="scene__img">
                </div>
            </div>
            <div class="scene__layer" data-depth="0.15">
                <div class="background"></div>
            </div>
            <div class="scene__layer" data-depth="0.2">
                <div class="background"></div>
            </div> 
            <div class="preview__body">
                <p class="preview__text">
                    Мы занимаемся проектной заказной разработкой и технической поддержкой сайтов. 
               
                </p>
                <p class="preview__text">
                    Специализируемся на разработке сложных, высокотехнологичных решений для бизнеса.
                </p>
                <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="17" y="32.7133" width="22.9819" height="1.45288" transform="rotate(-135 17 32.7133)" fill="white"/>
                    <rect x="16.2734" y="30.9597" width="22.9819" height="1.45288" transform="rotate(-90 16.2734 30.9597)" fill="white"/>
                    <rect x="15.9727" y="31.6862" width="22.9819" height="1.45288" transform="rotate(-45 15.9727 31.6862)" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
</main>